{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>My profile page!</h1>

<center>
<div>
    <button id="section1Button">Section 1</button>
    <button id="section2Button">Section 2</button>
    <button id="section3Button">Section 3</button>
</div>

<!-- sample_page_with_tab.html -->

<div id="section1" style="display: none;">
    <!-- Table for Section 1 will be displayed here -->
</div>

<div id="section2" style="display: none;">
    <!-- Table for Section 2 will be displayed here -->
</div>

<div id="section3" style="display: none;">
    <!-- Table for Section 3 will be displayed here -->
</div>

</center>


{% endblock %}