/* Reset some default styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Aboreto', Arial, sans-serif;
    /* Use the 'Roboto' font from Google Fonts */
}

/* Minimalistic global styles */
body {
    background-color: #ffffff;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Forms styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #000;
    color: #ffffff;
}

input.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}

button.dark-mode {
    background-color: #444;
}

/* New style for the "Don't have an account" link */
.bottom-link {
    text-align: right;
    margin-top: 10px;
}

.bottom-link a {
    color: #f32128;
    text-decoration: none;
}

.bottom-link a:hover {
    text-decoration: none;
}

/* Navigation bar styles */
nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Light mode navbar */
body:not(.dark-mode) nav {
    background-color: #ffffff;
}

/* Dark mode navbar */
body.dark-mode nav {
    background-color: #000;
}

/* Set the color of navbar links to white in dark mode and black in light mode */
nav a {
    color: #fff;
    text-decoration: none;
}

/* Dark mode link color */
body.dark-mode nav a {
    color: #fff;
}

/* Light mode link color */
body:not(.dark-mode) nav a {
    color: #000;
}

/* Remove the color change on mouse hover for the navbar links */
nav a:hover {
    color: inherit;
}

/* Dark mode switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    background-color: #000;
    border-radius: 12px;
    cursor: pointer;
}

/* Set the background color of the dark mode switch button based on the theme */
body:not(.dark-mode) .switch {
    background-color: #fff;
}

body.dark-mode .switch {
    background-color: #000;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    /* Set the background color to black */
    border-radius: 12px;
    transition: 0.4s;
}

.slider i {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 14px;
}

/* Sun icon styles */
.slider .fa-sun {
    color: #f6f6f6;
    /* Set the color to red for the sun icon */
    opacity: 1;
}

/* Moon icon styles */
.slider .fa-moon {
    color: #c0c0c0;
    /* Set the color to dark grey for the moon icon */
    opacity: 1;
    /* Show moon icon by default */
}

input:checked+.slider {
    background-color: #ffffff;
}

body.dark-mode input:checked+.slider .fa-sun {
    opacity: 1;
    /* Show sun icon when in dark mode */
}

body:not(.dark-mode) input:checked+.slider .fa-moon {
    opacity: 0;
    /* Show moon icon when in light mode */
}

/* Adjust position of elements */
.left-side {
    flex: 1;
}

.right-side {
    display: flex;
    align-items: center;
}

.right-side ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.right-side li {
    margin-left: 15px;
}

/* Apply styles to links inside right-side menu */
.right-side a {
    color: #fff;
    text-decoration: none;
}

.right-side a:hover {
    text-decoration: none;
}

/* Custom styles for the form */
.custom-form {
    margin-top: 20px;
}

/* Custom styles for the form labels */
.custom-form label {
    font-weight: bold;
    font-size: 14px;
    /* Adjust the label font size */
    margin-bottom: 5px;
}

/* Custom styles for the form input fields */
.custom-form input {
    padding: 8px;
    /* Adjust the input field padding */
    margin-bottom: 10px;
    /* Adjust the distance between fields */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    /* Adjust the input font size */
}

/* Custom styles for the form submit button */
.custom-form button {
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    /* Adjust the button font size */
}

.custom-form button:hover {
    background-color: #cc0000;
}

/* Custom styles for the "Don't have an account" link */
.custom-form .bottom-link {
    text-align: right;
    margin-top: 10px;
}

.custom-form .bottom-link a {
    color: #2196F3;
    text-decoration: none;
}

.custom-form .bottom-link a:hover {
    text-decoration: underline;
}

nav .navbar-nav .nav-item .nav-link:hover {
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Add styles for the dropdown menu */
.navbar-nav .dropdown-menu {
    background-color: #fff;
    /* Set the background color for the dropdown menu in light mode */
    border-color: #ccc;
    /* Set the border color for the dropdown menu in light mode */
}

body.dark-mode .navbar-nav .dropdown-menu {
    background-color: #000;
    /* Set the background color for the dropdown menu in dark mode */
    border-color: #252323;
    /* Set the border color for the dropdown menu in dark mode */
}

.navbar-nav .dropdown-menu a.dropdown-item {
    color: #000;
    /* Set the link color for the dropdown menu */
}

body.dark-mode .navbar-nav .dropdown-menu a.dropdown-item {
    color: #fff;
    /* Set the link color for the dropdown menu in dark mode */
}

.navbar-nav .dropdown-menu a.dropdown-item:hover {
    color: red;
    /* Set the link text color to red on mouse hover */
    background-color: transparent;
    /* Remove the background color change on hover */
}

/* Additional styles for adjusting the dropdown position */
.navbar-nav .dropdown-menu.dropdown-menu-right {
    right: 0;
    /* Align the dropdown to the right */
}

@media (max-width: 99px) {

    /* On smaller screens, adjust dropdown alignment */
    .navbar-nav .dropdown-menu.dropdown-menu-right {
        right: auto;
        /* Reset right alignment */
        left: 0;
        /* Align the dropdown to the left */
        transform: translateX(-50%);
        /* Center the dropdown */
    }

    /* Navbar toggler color in mobile mode */
    .navbar-toggler-icon {
        background-color: #fff;
        /* Default background color for light mode */
    }

    .navbar-toggler:hover {
        background-color: #fff;
        /* Default background color for light mode */
    }

    body.dark-mode .navbar-toggler-icon {
        background-color: #000;
        /* Change background color for dark mode */
    }

    body.dark-mode .navbar-toggler:hover {
        background-color: #000000;
        /* Default background color for light mode */
    }

}

@media (max-width: 991px) {

    /* On smaller screens (mobile view), adjust the hamburger icon hover styles */
    .navbar-toggler:hover {
        background-color: transparent;
        /* Set the background color to transparent on hover */
    }
}

/* Add the styles for the divider in dark mode */
body.dark-mode .navbar-nav .dropdown-menu .dropdown-divider {
    border-color: #252323;
}

/* Dark mode dropdown menu link color on hover */
body.dark-mode .navbar-nav .dropdown-menu a.dropdown-item:hover {
    color: red;
    /* Set the link text color to red on mouse hover */
    background-color: transparent;
    /* Remove the background color change on hover */
}

/* Dark mode dropdown menu link color on click (active state) */
body.dark-mode .navbar-nav .dropdown-menu a.dropdown-item:focus,
body.dark-mode .navbar-nav .dropdown-menu a.dropdown-item.active {
    color: red;
    /* Set the link text color to red on click */
    background-color: transparent;
    /* Remove the background color change on click */
}


/* toggle container */
.custom-control-input:not(:checked)~.custom-control-label::before {
    background-color: #fff;
    /* Change the background color of the toggle container  when it is not checked */
    border-color: #000000;
    /* Change the border color of the toggle container when it is not checked */
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #000000;
    /* Change the color of the toggle container when it is checked */
    border-color: #fff;
    /* Change the border color of the toggle container when it is checked */
}

/* CSS for custom-control-label text color */
.custom-control-input:checked~.custom-control-label {
    color: #fff;
    /* Text color when checkbox is checked */

    font-weight: normal;
        /* Unbold the text when checkbox is not checked */
}

.custom-control-input:not(:checked)~.custom-control-label {
    color: #000000;
    /* Text color when checkbox is not checked */
    font-weight: normal;
        /* Unbold the text when checkbox is not checked */
}

.custom-control-input:checked~.custom-control-label:hover {
    color: #ff0303;
    /* Text color when checkbox is checked */

    font-weight: normal;
    /* Unbold the text when checkbox is not checked */
}

.custom-control-input:not(:checked)~.custom-control-label:hover {
    color: #ff0000;
    /* Text color when checkbox is not checked */
    font-weight: normal;
    /* Unbold the text when checkbox is not checked */
}

.custom-control:hover {
    background: transparent;
    color: #ff0000;
}

/* Dark mode text color */
body.dark-mode .dropdown-menu a.dropdown-item {
    color: #fff;
}

/* Light mode text color */
body:not(.dark-mode) .dropdown-menu a.dropdown-item {
    color: #000000;
}

/* Position the icon inside the password field */
.password-toggle {
    position: relative;
}

.password-toggle input {
    padding-right: 35px;
    /* Leave space for the icon on the right */
}

.password-toggle .toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust the right position of the icon */
    transform: translateY(-50%);
    cursor: pointer;
    /* Set the color of the icon based on the theme */
    color: #ff0101;
    /* Default color for light mode */
}

/* Sticky footer styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

/* Common footer styles for both light and dark mode */
footer {
    background-color: #ffffff;
    color: #000;
    /* Text color for light mode */
    padding: 10px;
    text-align: center;
    position: relative;
    /* Use relative positioning for both modes */
    width: 100%;
    clear: both;
    /* Clear any floating elements before the footer */
}

/* Dark mode footer */
body.dark-mode footer {
    background-color: #000000;
    /* Dark background color for footer */
    color: #fff;
    /* Text color for dark mode */
}

.error-message {
    color: red;
    font-size: 14px;
    white-space: pre-line;  /* Preserve newlines and display on separate lines */
}

